[project]
name = "snakemake-pixi"
version = "0.1.0"
description = "A template for installing and running a snakemake workflow with pixi."
authors = ["Sibbe Bakker <sibbe.l.bakker@gmail.com>"]
channels = ["conda-forge", "bioconda"]
platforms = ["linux-64"]


[tasks]
make = "snakemake --sdm conda -c 1"
test = "snakemake --sdm conda -c 1 -np"
slurm = "snakemake --sdm conda --workflow-profile workflow/profiles/slurm"
apptainer = "snakemake --sdm conda apptainer -c 1"
help  = "bash workflow/help.sh"
make-help  = "sed -n 's/^##//p' workflow/Snakefile"
make-dag = "mkdir resources; snakemake --quiet all -c 1 'results/method.png' && mv results/method.png resources; mv resources/method.png resources/pipeline.png"
make-ascii = "mkdir resources; pixi run apptainer results/method-simple.ascii &&  mv results/method-simple.ascii resources/pipeline.ascii; cat resources/pipeline.ascii"


[dependencies]
curl = ">=8.7.1,<8.8"
snakemake = ">=8.10.8,<8.11"
mamba = ">=1.5.8,<1.6"
tree = ">=2.1.1,<2.2"
snakemake-executor-plugin-slurm = ">=0.6.0,<0.7"
sed = ">=4.8,<5"
gzip = ">=1.13,<2"
tar = ">=1.34,<2"
apptainer = ">=1.3.2,<1.4"
squashfuse = ">=0.5.2,<0.6"

[system-requirements]
linux="4.12.14"
